* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 50px;
    max-width: 100%;
}

header {
    background-color: black;
    padding: 40px;
}
a {
    text-decoration: none;
    color: white;
    padding: 20px;
}


.card {
    /* border: 1px solid black; */
    padding: 20px;
    width: 200px;
    box-shadow: 2px 2px 40px 20px rgba(41, 41, 41, 0.212);
    margin-bottom: 50px;
}
img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
img:hover {
    height: 450px;
    transition: 0.5s;
    filter: brightness(50%);
}
.profileImg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.profileImg:hover {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
button {
    padding: 20px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

